body {
  background-color: #E5E5E5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
